.membership-benefits {
  display: flex;
  width: max-content;
  position: absolute;
  top: 50%;
  left: 5%;
  right: 50%;
  z-index: 99999;
}

.slick-slider {
  position: relative;
}
.slick-slider > button {
}

.slick-slide div {
  margin: 0 2px;
 
}
.prev-btn {

}
.card-item img {
   
}
