.login-placeholder{
    position: absolute;
    top: .7rem;

  left:1rem;
    transition: 0.5s;
    pointer-events: none;  
}

#login_form input:focus + .login-placeholder{
      position: absolute;
    top: -.8rem;

  left: .5rem;
    transition: 0.3s;
    pointer-events: none;  
}
#login_form input.has-value + .login-placeholder{
    position: absolute;
  top: -.8rem;

left: .5rem;
  transition: 0.3s;
  pointer-events: none;  
}

 input[type=password]::-ms-reveal,
 input[type=password]::-ms-clear
{
display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}