@media(min-width:640px){
    .product-dec-inner-2.is_hover{
        pointer-events: all;
        opacity: 1;
        transform: translateY(0);
      }
    .not_show{
    opacity: 0;
    pointer-events: none;
      }
    
    }
    

    .product-dec-inner-2{
      
      pointer-events: none;
      position: absolute;
      top: 10px;
      left: 0;
      transform: translateY(-10px);
      opacity: 0;
      transition: opacity 250ms ease-in ,transform 250ms ease-in;
    }



